html {
  font-family: 'Open Sans', sans-serif;
}

.purple-rounded-btn {
  background-color: #562b81;
  color: white;
  margin: 0;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.position-absolution {
  position: absolute;
}

.align-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: #562b81;
  color: white;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.header-tabs {
  display: flex;
  align-items: baseline;
}

.header-tab {
  margin-right: 1.5em;
}

.header-tab:hover {
  cursor: pointer;
}

form {
  margin: 0 0 50%;
  padding: 0;
}

h1 {
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 3em;
}

h2 {
  margin: 15px;
}

h3 {
  font-size: 1.3em;
  margin: 0 0 10px;
}

p {
  margin: 0;
}

img,
input,
textarea {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 10px;
  font-size: 1.2em;
  border-color: #b6b6b6;
}

textarea {
  font-size: 1.7em;
}

.column-half > img {
  object-fit: cover;
  height: 22em;
}

.save-btn {
  float: right;
}

.entries-header {
  justify-content: space-between;
}

ol {
  list-style: none;
  margin-top: 2em;
  padding: 0;
}

.edit-div {
  justify-self: space-between;
}

#edit-icon {
  width: 30px;
  cursor: pointer;
}

.delete-btn {
  align-self: flex-end;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.delete-verify-modal {
  position: absolute;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  text-align: center;
}

.modal-btn {
  margin: 0 20px;
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.cancel-btn {
  background-color: #b6b6b6;
  color: black;
}

.confirm-btn {
  background-color: #dc2626;
  color: white;
}

.greyed-bg {
  background-color: rgba(0, 0, 0, 0.7);
}
