html {
  font-family: 'Open Sans', sans-serif;
}

.purple-rounded-btn {
  background-color: #562b81;
  color: white;
  margin: 0;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.align-center {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: #562b81;
  color: white;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.header-tabs {
  display: flex;
  align-items: baseline;
}

.header-tab {
  margin-right: 1.5em;
}

.header-tab:hover {
  cursor: pointer;
}

form {
  margin: 0 0 50%;
  padding: 0;
}

h1 {
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 3em;
}

h2 {
  margin: 15px;
}

h3 {
  font-size: 1.3em;
  margin: 0 0 10px;
}

p {
  margin: 0;
}

img,
input,
textarea {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 10px;
  font-size: 1.2em;
  border-color: #b6b6b6;
}

textarea {
  font-size: 1.7em;
}

.column-half > img {
  object-fit: cover;
  height: 22em;
}

.save-btn {
  float: right;
}

.entries-header {
  justify-content: space-between;
}

ol {
  list-style: none;
  margin-top: 2em;
  padding: 0;
}

.edit-div {
  justify-self: space-between;
}

.title-row {
  justify-content: space-between;
}

#edit-icon {
  width: 30px;
  cursor: pointer;
}
